doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    title= title
    style(type='text/css').
      .container {
        padding: 10px 50px;
      }
      .location {
        padding-left: 40px;
        background: #D9B3B3;
        line-height: 30px;
      }
      .list {
        padding-left: 0;
      }
      .list li {
        list-style: none;
        line-height: 40px;
        padding-left: 30px;
        font-size: 16px;
      }
      .list li:nth-of-type(odd) {
        background: #ddd;
      }
      .list li:nth-of-type(even) {
        background: #F7F7F4;
      }
      a,a:link,a:visited {
        color: #525252;
      }
      .title {
        position: relative;
      }
      .qrcode {
        position: absolute;
        top: 0;
        right: 70px;
        background: white;
      }
      .qrcode:hover {
        box-shadow: 1px 1px 3px #333;
      }
      .qrcode-logo {
        display:block;
        width:8px;
        height:8px;
        padding: 3px;
        margin: 3px;
        border: 4px solid;
      }
      .qrcode-logo div {
        width: 100%;
        height: 100%;
        background: black;
      }
      .qrcode-display {
        display: none;
        padding: 10px 20px;
      }
      .qrcode:hover .qrcode-display{
        display: block;
      }
      .qrcode:hover .qrcode-logo {
        display: none;
      }
      .qrcode-display img {
        cursor: none;
      }
      @media only screen and (max-width:640px) {
        .qrcode {
          display: none;
        }
        .container {
          padding: 10px 0;
        }
      }
    base(href=location)
  body
    section.container
      div.title
        h2.location=location
        div.qrcode
          i.qrcode-logo
            div
          div.qrcode-display
            img(src=dataUrl)
            p(style={color: '#590000'}) 切换ip->
            ul
              each item in ips
                li
                  a(href=item.url)=item.ip
      ul.list
        each file in files
          li
            a(href=file)=file