doctype html
html
  head
    meta(charset='utf-8')
    title= title
    style(type='text/css').
      .container {
        padding: 10px 50px;
      }
      .location {
        padding-left: 40px;
        background: #D9B3B3;
        line-height: 30px;
      }
      .list {
        padding-left: 0;
      }
      .list li {
        list-style: none;
        line-height: 30px;
        padding-left: 30px;
        font-size: 14px;
      }
      .list li:nth-of-type(odd) {
        background: #ddd;
      }
      .list li:nth-of-type(even) {
        background: #F7F7F4;
      }
      a,a:link,a:visited {
        color: #525252;
      }
      .title {
        position: relative;
      }
      .qrcode {
        position: absolute;
        top: 5px;
        right: 100px;
      }
      .qrcode-logo {
        display:block;
        width:20px;
        height:20px;
        background: url(dataUrl);
      }
      .qrcode-display {
        display: none;
      }
      .qrcode:hover .qrcode-display{
        display: block;
      }
      .qrcode:hover .qrcode-logo {
        display: none;
      }
      .qrcode-display img {
        cursor: none;
      }
      @media screen and max-width:640px {
        .qrcode {
          display: none;
        }
      }
    base(href=location)

  body
    section.container
      div.title
        h2.location=location
        div.qrcode
          i.qrcode-logo
          div.qrcode-display
            img(src=dataUrl)
            ul
              each item in ips
              li
                a(href=item.url)=item.ip
      ul.list
        each file in files
          li
            a(href=file)=file